# CloakBrowser-Manager + Hermes plugin environment
CLOAK_MANAGER_URL=http://127.0.0.1:8080
CLOAK_AUTH_TOKEN=GENERATE_ON_INSTALL
CLOAK_CDP_PROXY_BASE=http://127.0.0.1:8081
CAPSOLVER_API_KEY=
TWOCAPTCHA_API_KEY=
TWO_CAPTCHA_API_KEY=
NOTLETTERS_API_KEY=
